<%- include("./partials/head") %>


<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/changepassword.css">
</head>
<%- include("./partials/navbar") %>
<body>

  <div class ="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-md-1 offset-md-1">
        <div class= "card shadow">
          <img src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvZGluZyUyMGtpZHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top" />
          <div class="card-body">
            <h3 class="card-title" style="color: blueviolet">Update Password</h3>
           
            <form action="/login" method="POST">
              <div class ="mb-3">
                <label for="password_current" style="width: 200px;">Your current password</label>
                <input type="text" name="password_current" id="oldPassword" autofocus/>

              </div>
              <div class="mb-3">
                <label for="password_new" style="width: 200px;">Your new password</label>
                <input type="text" name="password_new" id="newPassword" />
             
              </div>
              <div class="mb-3">
                <label for="password_confirm" style="width: 200px;">Confirm password</label>
                <input type="text" name="password_confirm" id="confirmPassword" />
              </div>
              <button type="button" name="Submit" value="Save" class="btn btn-danger" onclick="Function();"><i class="livicon" data-n="pen" data-s="16" data-c="#fff" data-hc="0" "></i> Save</button>
              <a href="/user" class="btn btn-success">Go Back</a>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>

   
  <script>
    function Function() {
        var oldpasswprd = document.getElementById('oldPassword').value;
        var newpassword = document.getElementById('newPassword').value;
        var confirmpassword = document.getElementById('confirmPassword').value;
        if (oldPassword == "" || newpassword == "" || confirmpassword == "") {
            alert('Please fill all the details');
        }
        else if (oldpasswprd == newpassword) {
            alert("Old password and New Password cannot be same");
        }
        else if (newpassword != confirmpassword) {
            alert("password mismatch");
        }
        
    }

</script>
  <%- include("./partials/footer") %>