
table{
  border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-top: 2 rem;
    margin-right: auto;
    margin-bottom: .5em;
    background: rgba(0,0,0,.01);
}

/*table {
  margin-top: 20px;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(300px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
   
}*/

table th {
  height: 2em;
  color: #fff;
  /*background-color: #3b3b3b;*/
  background-color:rgb(47, 44, 238) ;
  border-color: #555;
  border-width: 1px 1px 0 0;
  border-style: solid;
  padding: 4px 10px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.1em;
}

#problem-table td.problem {
  text-align: left;
  padding-left: 1em;
  width: 50%;
}

.table td:first-child {
  border-color: #ccc;
  border-width: 1px 1px 0;
}

#problem-table td.category {
  text-align: left;
  padding: 0 1em;
}


.table td {
  border-color: #ccc;
  border-width: 1px 1px 0 0;
  border-style: solid;
  padding: 7px 5px;
  vertical-align: middle;
  text-align: center;
}

.btnNew {
  margin: 2rem auto;
}

/** TABLE in coding page **/

.codingPageTable {
  margin-left: 0;
  width: 80%;
}

.codingPageTable th {
  height: 1em;
  color: #fff;
  /*background-color: #3b3b3b;*/
  background-color:rgb(47, 44, 238) ;
  width: 40%
}

.codingPageTable td{
  height: 1em;
  color: #fff;
  /*background-color: #3b3b3b;*/

  width: 50%
}

.codingPageTable tbody {
  text-align: left;
}

td {
  padding: 0;
}

/*thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}*/